*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eee;
}
input{
    font-size: 24px;
    color: #5d6d7e;
    border-radius: 5px;
    background-color: #fff;
}
form{
    margin: 20px;
}
.Container{
    padding: 25px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.Info h1{
    padding: 20px;
}
#btn{
    margin: 8px;
    font-size: 22px;
    color: #018BE7;
    background: transparent;
    border: #018BE7 solid 2px;
    border-radius: 5px;
    padding: 14px 28px;
}
#btn:hover{
    color: #eee;
    background-color: #018BE7;
}
.Respuesta{
    margin: 10px;
    padding: 8px;
    background-color: #eee;
}
.Respuesta p{
    margin: 5px;
    font-size: 18px;
}